<a href="https://colab.research.google.com/github/Jiangjiang-111/-/blob/main/%E7%AC%AC%E4%B8%80%E7%AB%A0%EF%BC%9A%E7%AC%AC%E4%BA%8C%E8%8A%82pandas%E5%9F%BA%E7%A1%80_%E8%AF%BE%E7%A8%8B(done!).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**复习：**数据分析的第一步，加载数据我们已经学习完毕了。当数据展现在我们面前的时候，我们所要做的第一步就是认识他，今天我们要学习的就是**了解字段含义以及初步观察数据**。

## 1 第一章：数据载入及初步观察

### 1.4 知道你的数据叫什么
我们学习pandas的基础操作，那么上一节通过pandas加载之后的数据，其数据类型是什么呢？

**开始前导入numpy和pandas**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy as np
import pandas as pd

#### 1.4.1 任务一：pandas中有两个数据类型DateFrame和Series，通过查找简单了解他们。然后自己写一个关于这两个数据类型的小例子🌰[开放题]

**Series** 由索引（index）和列组成，类似表格中的一个列（column），类似于一维数组，可以保存任何数据类型。


其中最常用的属性为值（values），索引（index），名字（name），类型（dtype）

In [ ]:
#写入代码
values = [1,2,3,4,5,6]
# index可以指定
s = pd.Series(values,index=["1","2","3","4","5","6"],name='这是一个Series',dtype="float64")
s

1    1.0
2    2.0
3    3.0
4    4.0
5    5.0
6    6.0
Name: 这是一个Series, dtype: float64

我们也可以使用 key/value 对象，类似字典来创建 Series

In [ ]:
values = {"gzx":100,"wsj":100,"zqy":100,"jjr":100}
s = pd.Series(values)
s

gzx    100
wsj    100
zqy    100
jjr    100
dtype: int64

In [ ]:
'''
#我们举的例子
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
example_1 = pd.Series(sdata)
example_1
'''

**DataFrame** 是一个表格型的数据结构，它含有一组有序的列，每列可以是不同的值类型（数值、字符串、布尔型值）。DataFrame 既有行索引也有列索引，它可以被看做由 Series 组成的字典（共同用一个索引）。
![1663077020294.png]()

`pandas.DataFrame( data, index, columns, dtype, copy)`

Pandas DataFrame 是一个二维的数组结构，类似二维数组。

*   data：一组数据(ndarray、series, map, lists, dict 等类型)

*   index：索引值，或者可以称为行标签。

*   columns：列标签，默认为 RangeIndex (0, 1, 2, …, n) 。

*   dtype：数据类型

*   copy：拷贝数据，默认为 False

In [ ]:
data = [["gzx",100],["wsj",100],["zqy",100],["jjr",100]]
df = pd.DataFrame(data,columns=["名字","现金"])
df

    名字   现金
0  gzx  100
1  wsj  100
2  zqy  100
3  jjr  100

In [ ]:
'''
#我们举的例子
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
example_2 = pd.DataFrame(data)
example_2
'''

#### 1.4.2 任务二：根据上节课的方法载入"train.csv"文件

In [ ]:
#写入代码
df = pd.read_csv("/content/drive/MyDrive/hands-on-data-analysis-master/第一单元项目集合/train.csv")

也可以加载上一节课保存的"train_chinese.csv"文件。通过翻译版train_chinese.csv熟悉了这个数据集，然后我们对trian.csv来进行操作
#### 1.4.3 任务三：查看DataFrame数据的每列的名称

In [ ]:
#写入代码
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

#### 1.4.4任务四：查看"Cabin"这列的所有值[有多种方法]

In [ ]:
#写入代码
df['Cabin'].head()

0     NaN
1     C85
2     NaN
3    C123
4     NaN
Name: Cabin, dtype: object

In [ ]:
#写入代码
df.Cabin.head()

0     NaN
1     C85
2     NaN
3    C123
4     NaN
Name: Cabin, dtype: object

#### 1.4.5 任务五：加载文件"test_1.csv"，然后对比"train.csv"，看看有哪些多出的列，然后将多出的列删除
经过我们的观察发现一个测试集test_1.csv有一列是多余的，我们需要将这个多余的列删去

In [ ]:
#写入代码
test_1 = pd.read_csv('/content/drive/MyDrive/hands-on-data-analysis-master/第一单元项目集合/test_1.csv')
test_1.head(3)

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,a
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,100
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,100
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,100

使用del, 一次只能删除一列，不能一次删除多列：

In [ ]:
#写入代码
del test_1["a"]
test_1.head(3)

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

【思考】还有其他的删除多余的列的方式吗？

`DataFrame.drop(labels=None,axis=0, index=None, columns=None, inplace=False)`


*   labels 就是要删除的行列的名字，用列表给定
*   axis 默认为0，指删除行，因此删除columns时要指定axis=1
*   index 直接指定要删除的行
*   columns 直接指定要删除的行
*   inplace=False，默认该删除操作不改变原数据

In [ ]:
# 思考回答
test_1 = test_1.drop(["a"], axis=1, inplace=True)
test_1

#### 1.4.6 任务六： 将['PassengerId','Name','Age','Ticket']这几个列元素隐藏，只观察其他几个列元素

In [ ]:
# 写入代码
df.drop(['PassengerId','Name','Age','Ticket'],axis=1,inplace=False).head(3)

   Survived  Pclass     Sex  SibSp  Parch     Fare Cabin Embarked
0         0       3    male      1      0   7.2500   NaN        S
1         1       1  female      1      0  71.2833   C85        C
2         1       3  female      0      0   7.9250   NaN        S

【思考】对比任务五和任务六，是不是使用了不一样的方法(函数)，如果使用一样的函数如何完成上面的不同的要求呢？

【思考回答】

如果想要完全的删除你的数据结构，使用inplace=True，因为使用inplace就将原数据覆盖了，所以这里没有用

### 1.5 筛选的逻辑

表格数据中，最重要的一个功能就是要具有可筛选的能力，选出我所需要的信息，丢弃无用的信息。

下面我们还是用实战来学习pandas这个功能。

#### 1.5.1 任务一： 我们以"Age"为筛选条件，显示年龄在10岁以下的乘客信息。

In [ ]:
#写入代码
df[df["Age"]<10].head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.0,1,2,SC/Paris 2123,41.5792,NaN,C

#### 1.5.2 任务二： 以"Age"为条件，将年龄在10岁以上和50岁以下的乘客信息显示出来，并将这个数据命名为midage

使用交集和并集操作

In [ ]:
#写入代码
midage = df[(df["Age"]<50) & (df["Age"]>10)]
midage.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

【提示】了解pandas的条件筛选方式以及如何使用交集和并集操作

#### 1.5.3 任务三：将midage的数据中第100行的"Pclass"和"Sex"的数据显示出来

**data.loc**

data.loc[index,column]

In [ ]:
midage.loc[[100],['Pclass','Sex']]

     Pclass   Sex
100       2  male

【提示】在抽取数据中，我们希望数据的相对顺序保持不变，用什么函数可以达到这个效果呢？

**reset_index()** 重置索引，将旧索引添加为列，并使用新的顺序索引，可以使用drop参数来避免将旧索引添加为列


函数主要有以下几个参数：
reset_index(level=None, drop=False, inplace=False, col_level=0, col_fill='')

In [ ]:
#写入代码
midage = midage.reset_index(drop=True)
midage.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

#### 1.5.4 任务四：使用loc方法将midage的数据中第100，105，108行的"Pclass"，"Name"和"Sex"的数据显示出来

In [ ]:
#写入代码
midage.loc[[100,105,108],['Pclass','Name','Sex']].head()

     Pclass                               Name   Sex
100       2  Byles, Rev. Thomas Roussel Davids  male
105       3           Cribb, Mr. John Hatfield  male
108       3                    Calic, Mr. Jovo  male

#### 1.5.5 任务五：使用iloc方法将midage的数据中第100，105，108行的"Pclass"，"Name"和"Sex"的数据显示出来

In [ ]:
#写入代码
midage.iloc[[100,105,108],[2,3,4]]

     Pclass                               Name   Sex
100       2  Byles, Rev. Thomas Roussel Davids  male
105       3           Cribb, Mr. John Hatfield  male
108       3                    Calic, Mr. Jovo  male

【思考】对比`iloc`和`loc`的异同


loc函数主要基于行标签和列标签进行索引：使用loc函数，索引的是字符串

iloc函数主要基于行索引和列索引，均从 0 开始。iloc函数索引的数据是int整型，因此是默认前闭后开。只能输入数字，输入字符的话是会报错的。